# ---------------- Core ----------------
numpy==2.3.0
pandas

# ---------------- Visualization ----------------
matplotlib
seaborn

# ---------------- Classical ML ----------------
scikit-learn
joblib
opencv-python
scikit-image

# ---------------- Deep Learning ----------------
torch
torchvision

# ---------------- Analysis & Utilities ----------------
tqdm
umap-learn
psutil
